html {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
}

h1 {
    font-size: 35px;
}

h2 {
    margin: 25px 20px 25px 20px;
    font-size: 25px;
}

#viewScores {
    color: violet;
    cursor: pointer;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: darkblue;
    color: antiquewhite;
}

main {
    margin: 100px 30% 0 30%;
}

#intro {
    text-align: center;
    padding: 10%;
}

#questions {
    padding: 10%;
}

#answers {
    display: flex;
    flex-direction: column;
}

.answer {
    padding: 10px;
    margin: 5px;
    max-width: 250px;
}

#score {
    padding: 10%
}

#highScores {
    padding: 10%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}